{% extends "layout.html" %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'black.js') }}"></script>
{% endblock %}

{% block style %}
	<style>
		img {
			height: 110px;
			width: 120px;
		}

		.black {
			background-color: rgb(56,56,56);
			height: 480px;
		}

		.black-bin-label{
			padding-top: 20px;
			padding-left: 10px;
			padding-right: 10px;
			color: white;
			font-size: 20px;
			font-family: "Times New Roman", Times, serif;
		}

		.black-bin-text{
			text-align: center;
			font-size: 34px;
		}

		.black-bin{
			background-color: white;
		}

		.button{
			margin-top: 25px;
			text-align: center;
			font-family: "Times New Roman", Times, serif;
		}

		.text{
			font-size: 24px;
			text-align: center;
			font-family: "Times New Roman", Times, serif;
		}
    </style>
{% endblock %}

{% block content %}
<div class="col-md-12">
	<div class="row">

		<div class="col-md-8">
			<div class="black-bin-label black">
				<div class="black-bin-text">TRASH</div>
				<ul class="black-title"></ul>
			</div>
			<div class="black-bin"></div>
			<div class="button">
				<a href="{{ url_for('home') }}" class="button">
					<button class='btn btn-warning text'>Back to Homepage</button>
				</a>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row text">
				Put each of the items back into the "Trash" bin to reveal details!
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 plastic-toys"></div>
					</div>
					<div class="row">
						<div class="col-md-12 heavily-soiled-paper"></div>
					</div>
					<div class="row">
						<div class="col-md-12 ceramics"></div>
					</div>
					<div class="row">
						<div class="col-md-12 soiled-paper"></div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 styrofoam"></div>
					</div>
					<div class="row">
						<div class="col-md-12 used-napkins"></div>
					</div>
					<div class="row">
						<div class="col-md-12 candy-wrapper"></div>
					</div>
					<div class="row">
						<div class="col-md-12 hardcover"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}