{% extends "layout.html" %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'blue.js') }}"></script>
{% endblock %}

{% block style %}
	<style>
		img {
			height: 110px;
			width: 120px;
		}

		.blue {
			background-color: rgb(0, 56, 102);
			height: 530px;
		}

		.blue-bin-label{
			padding-top: 20px;
			padding-left: 10px;
			padding-right: 10px;
			color: white;
			font-size: 20px;
			font-family: "Times New Roman", Times, serif;
		}

		.blue-bin-text{
			text-align: center;
			font-size: 34px;
		}

		.blue-bin{
			background-color: white;
		}

		.button{
			margin-top: 25px;
			text-align: center;
			font-family: "Times New Roman", Times, serif;
		}

		.text{
			font-size: 24px;
			text-align: center;
			font-family: "Times New Roman", Times, serif;
		}
    </style>
{% endblock %}

{% block content %}
<div class="col-md-12">
	<div class="row">

		<div class="col-md-8">
			<div class="blue-bin-label blue">
				<div class="blue-bin-text">
					<span>METAL, PLASTIC,</span>
					<br> 
					<span>GLASS, CARTONS</span>
				</div>
				<ul class="blue-title"></ul>
			</div>
			<div class="blue-bin"></div>
			<div class="button">
				<a href="{{ url_for('home') }}" class="button">
					<button class='btn btn-warning text'>Back to Homepage</button>
				</a>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row text">
				Put each of the items back into the bin on the left to reveal details!
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 glass"></div>
					</div>
					<div class="row">
						<div class="col-md-12 aluminum-foil"></div>
					</div>
					<div class="row">
						<div class="col-md-12 drink-box"></div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 plastic"></div>
					</div>
					<div class="row">
						<div class="col-md-12 metal"></div>
					</div>
					<div class="row">
						<div class="col-md-12 household-metal"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}