{% extends "layout.html" %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'green.js') }}"></script>
{% endblock %}

{% block style %}
	<style>
		img {
			height: 110px;
			width: 120px;
		}

		.green {
			background-color: rgb(47,95,75);
			height: 580px;
		}

		.green-bin-label{
			padding-top: 20px;
			padding-left: 10px;
			padding-right: 10px;
			color: white;
			font-size: 20px;
			font-family: "Times New Roman", Times, serif;
		}

		.green-bin-text{
			text-align: center;
			font-size: 34px;
		}

		.green-bin{
			background-color: white;
		}

		.button{
			margin-top: 25px;
			text-align: center;
			font-family: "Times New Roman", Times, serif;
		}

		.text{
			font-size: 24px;
			text-align: center;
			font-family: "Times New Roman", Times, serif;
		}
    </style>
{% endblock %}

{% block content %}
<div class="col-md-12">
	<div class="row">

		<div class="col-md-8">
			<div class="green-bin-label green">
				<div class="green-bin-text">MIXED PAPER</div>
				<ul class="green-title"></ul>
			</div>
			<div class="green-bin"></div>
			<div class="button">
				<a href="{{ url_for('home') }}" class="button">
					<button class='btn btn-warning text'>Back to Homepage</button>
				</a>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row text">
				Put each of the items back into the bin on the left to reveal details!
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 paper"></div>
					</div>
					<div class="row">
						<div class="col-md-12 newspaper"></div>
					</div>
					<div class="row">
						<div class="col-md-12 phonebook"></div>
					</div>
					<div class="row">
						<div class="col-md-12 wrapping-paper"></div>
					</div>
					<div class="row">
						<div class="col-md-12 cardboard"></div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 mail"></div>
					</div>
					<div class="row">
						<div class="col-md-12 paper-bags"></div>
					</div>
					<div class="row">
						<div class="col-md-12 smooth-cardboard"></div>
					</div>
					<div class="row">
						<div class="col-md-12 corrugated-cardboard"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}