{% extends "layout.html" %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
{% endblock %}

{% block style %}
	<style>
		.retake-button {
			float: right;
			margin-top: 20px;
		}

		.green {
			background-color: rgb(47,95,75);
			height: 300px;
		}

		.blue {
			background-color: rgb(0, 56, 102);
			height: 300px;
		}

		.black {
			background-color: rgb(56,56,56);
			height: 300px;
		}

		.black-bin-label{
			padding-top: 60px;
			color: white;
			text-align: center;
			font-size: 20px;
			font-family: "Times New Roman", Times, serif;
		}

		.green-bin-label{
			padding-top: 60px;
			color: white;
			text-align: center;
			font-size: 20px;
			font-family: "Times New Roman", Times, serif;
		}

		.blue-bin-label{
			padding-top: 30px;
			color: white;
			text-align: center;
			font-size: 20px;
			font-family: "Times New Roman", Times, serif;
		}

		.green-bin{
			background-color: white;
		}

		.blue-bin{
			background-color: white;
		}

		.black-bin{
			background-color: white;
		}

		.move{
			cursor: move;
			border: solid;
			border-width: 3px;
		}

		.gray-border{
			border-color: lightgray;
		}

		.red-border {
			border-color: red;
		}

		.middle{
			margin-bottom: 30px;
		}

		.instructions{
			text-align: center;
			font-size: 24px;
			font-family: "Times New Roman", Times, serif;
		}

		.caption{
			text-align: center;
			background-color: white;
			font-family: "Times New Roman", Times, serif;
		}

		img{
			height: 90px;
			width: 154px;
		}

		.congrats{
			text-align: center;
			font-size: 32px;
			font-family: "Times New Roman", Times, serif;
		}

		.wrong-info{
			margin-top: 20px;
			background-color: #F08080;
		}

		.wrong-info-text{
			font-size: 16px;
			border: solid;
			border-color: red;
			font-family: "Times New Roman", Times, serif;
		}
	</style>
{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-12 glass"></div>
			</div>
			<div class="row">
				<div class="col-md-12 candy-wrapper"></div>
			</div>
			<div class="row">
				<div class="col-md-12 plastic-toys"></div>
			</div>
			<div class="row">
				<div class="col-md-12 wrapping-paper"></div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row middle">
				<div class="col-md-12 instructions">
					Drag the items to the correct bins!
				</div>
			</div>
			<div class="row middle">
				<div class="col-md-4">
					<div class="black-bin-label black">
						<div>TRASH</div>
						<br>
						<div class="black-title"></div>
					</div>
					<div class="black-bin"></div>
				</div>
				<div class="col-md-4">
					<div class="green-bin-label green">
						<div>MIXED PAPER</div>
						<br>
						<div class="green-title"></div>
					</div>
					<div class="green-bin"></div>
				</div>
				<div class="col-md-4 right-bin">
					<div class="blue-bin-label blue">
						<div>
							<span>METAL, PLASTIC,</span>
							<br> 
							<span>GLASS, CARTONS</span>
						</div>
						<br>
						<div class="blue-title"></div>
					</div>
					<div class="blue-bin"></div>
				</div>
			</div>
			<div class="row middle">
				<div class="col-md-3 paper"></div>
				<div class="col-md-3 plastic"></div>
				<div class="col-md-3 newspaper"></div>
				<div class="col-md-3 phonebook"></div>
			</div>
			<div class="row middle"></div>
		</div>
		<div class="col-md-2 right-column">
			<div class="row">
				<div class="col-md-12 ceramics"></div>
			</div>
			<div class="row">
				<div class="col-md-12 styrofoam"></div>
			</div>
			<div class="row">
				<div class="col-md-12 drink-box"></div>
			</div>
			<div class="row">
				<div class="col-md-12 aluminum-foil"></div>
			</div>
		</div>
	</div>
{% endblock %}